

#images {
    color: black;
    height: 48px;
    z-index: 986;
    float: right;
    padding-left: 32px;
    
}

#advancedsearch {
    color: black;
    height: 48px;
    z-index: 986;
    float: right;
    padding-left: 32px;
}

#logo {
    
    height: 92px;
    width: 272px;
   margin-top: 50px;
   margin-left: 500px;
    

}

#theworst {

    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 640px;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

#indexsearchbox {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: none;
    border-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    margin: 0 auto;
    width: 638px;
     max-width: 584px;
    

}

#searchbutton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 58px 35px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
}

#imfeelinglucky {

    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 0px 50px 60px 300px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

